name: Deploy

on:
  workflow_call:
    inputs:
      build:
        description: Build command to run
        required: false
        type: string
        default: nr build

      dist:
        description: Directory to deploy
        required: false
        type: string
        default: dist

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Setup JS
        uses: byronogis/workflows/setup-js@v1

      - name: Build
        run: ${{ inputs.build }}

      - name: Verify build
        run: |
          if [ ! -d "${{ inputs.dist }}" ]; then
            echo "Build failed - ${{ inputs.dist }} directory not found"
            exit 1
          fi

      - uses: actions/configure-pages@v5
        with:
          enablement: true
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ inputs.dist }}
      - uses: actions/deploy-pages@v4
        id: deployment
